.app {
  text-align: center;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  border-bottom: 2px solid black;
}

.appHeader h3 {
  margin-left: 2vw;
}

.headerLeft {
  display: flex;
}
.headerRight {
  display: flex;
  font-size: 1rem;
  padding-right: 4rem;
  width: 500px;
  text-align: left;
}

.createListContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 4rem;
}
.createListContainer span {
  font-size: 1rem;
}
.createListContainer button {
  margin-top: 0.3rem;
}

.listContainer {
  display: flex;
}
