.App {
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  width: 100vw;
  border-bottom: 2px solid black;
}

.App-header h3 {
  margin-left: 2vw;
}

.create-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 4rem;
}
.create-list-container span {
  font-size: 1rem;
}
.create-list-container button {
  margin-top: 0.3rem;
}

.App-link {
  color: rgb(112, 76, 182);
}

.List-container {
  display: flex;
}
